

.home {
  padding: 10%;
  height: 100vh;
}
.left-panel {
  text-align: center;
}
.left-panel .ui.label {
  background:  white;
}

.left-panel .menu {
  display: flex;
  flex-direction: column;
  margin: 2em 0;

}
.left-panel .menu-link {
  display: flex;
  justify-content: center;
  gap: 20px;
}